{{#if logs}}
<h4>Most Recent Response:</h4>
  {{#each logs}}
  <div class="current-log">
    <p><strong>Question:</strong> "{{question.question}}"</p>
    <p><strong>Answer:</strong>"{{answer}}"</p>
    <div class="sub-text">
      <span><strong>Date:</strong> {{createdAt}}</span>
      <span><strong>Created/Updated by:</strong> {{researcher.name}} (ID: {{researcher._id}})</span>
    </div>
  </div>
  {{/each}}
{{/if}}
