{{#each questions}}
	{{#ifeq this.type "Text"}}
	<div class="text-input question" id="{{this.id}}">
	<label for="{{this.key}}">{{this.question}}</label>
		<input indexof="{{@index}}" class="form-control input" name="{{this.question}}" label="{{this.question}}" type="text" id={{this.key}}></p>
	</div>
	{{/ifeq}}


	{{#ifeq this.type "Bubble Select"}}
		<div class="radio-group question" id="{{this.id}}">
		<p>{{this.question}}</p>
		{{#each this.options}}
			<label class="form-check-label radio-wrapper">
        <input type="radio" class="form-check-input input" name="{{this}}" id="optionsRadios3" value="{{this}}">
        {{this}}
      </label>
		{{/each}}
	</div>
	{{/ifeq}}

	{{#ifeq this.type "Checkmark"}}
		<div class="checkmark question" id="{{this.id}}">
			{{this.question}}
			<label class="form-check-label">
	      <input indexof="{{@index}}" type="checkbox" class="form-check-input input">
	      {{this.answer}}
	    </label>
		</div>
	{{/ifeq}}

	{{#ifeq this.type "Dropdown"}}
		<label for="{{this.id}}">{{this.question}}</label>
		<select indexof="{{@index}}" id="{{this.id}}" class="question form-control">
			<option value="Select">Select Below</option>
			{{#each this.options}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	{{/ifeq}}

{{/each}}

<button type="button" class="btn btn-primary btn-alt" id="{{type}}-send">Submit</button>
