<div class="row modal-inner research">

  <div class="col-md-12 box-sm">

    <div class="row sm-pad">
      <div class="col-md-4" id="client-info">
        <h3 class="title">Client Info:</h3>
        <h5>Client Id: {{group.client.clientId}}</h5>
        <p>Date Uploaded: {{group.createdAt}}</p>
      </div>

      <div class="col-md-8 client-responses">
        <h4 class="ttile">Client Responses:</h4>
        {{#each group.responses}}
          <p>Question {{@index}}: {{this.answer}}</p>
        {{/each}}
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <video id="uploaded"
    oncontextmenu="return false;"
    controls controlsList="nodownload nofullscreen"
    src="{{group.url}}"></video>

    <form id="timestamp-form" data-send="add-timestamp">
      Current time: <span id="current-timestamp"></span>
      <input indexof="1" type="text" class="form-control" placeholder="Notes">

      <select indexof="2" class="timestamp-category-dropdown form-control select2">
        <option>Select a marker category</option>
        {{#each markerCategories}}
        <option class="timestamp" id="{{this._id}}" data-key="{{this.key}}">{{this.name}}</option>
        {{/each}}
      </select>

      <select indexof="3" class="timestamp-action-dropdown form-control" id="timestamp-actions" style="display:none"></select>

      <button indexof="4" style="display:none" type="button" class="btn btn-primary" id="add-timestamp">Add Video Marker</button>
    </form>

  </div>

  <div class="col-md-8">

    <div class="box">
      {{#ifeqor user.accessLvl "Admin" "Analyzer"}}
      <!-- Marker Dropdown -->
      <select class="timestamp-dropdown form-control select2">
        <option>{{#if group.markers}}Select a timestamp{{else}}No timestamps have been added. Add one to start analysis.{{/if}}</option>
        {{#each groupedMarkers}}
        <optgroup label="{{@key}}s">
          {{#each this}}
          <option class="timestamp" id="{{this._id}}" data-time="{{this.time}}" data-action="{{this.action}}">{{this.actionName}} ({{this.time}} sec): {{this.notes}}</option>
          {{/each}}
        </optgroup>
        {{/each}}
      </select>

      <div id="current-response" style="display:none"></div>

      <form id="research-form" data-send="research-send" data-group="{{group.id}}" data-response="">

      </form>

      <div id="research-logs"></div>

      {{else}}
        <h3>You do not have access to analysis. Check your access level or reach out to a research admin for access.</h3>
      {{/ifeqor}}
    </div>
  </div>

</div>
