<div class="row modal-inner upload">

  <video id="recorded" autoplay controls controlsList="nodownload nofullscreen" oncontextmenu="return false;"></video>

  <form id="upload-form">
    {{#each questionaire.questions}}
      {{#ifeq this.type "Text"}}
      <p id="{{idIfy this.question}}" class="question">{{this.question}}<br>
        <input name="{{this.question}}" class="form-control" label="{{this.question}}" type="text"></p>
      {{/ifeq}}


      {{#ifeq this.type "Bubble Select"}}
        <div class="radio-group question" id="{{idIfy this.question}}">
        {{#each this.options}}
          <div class="radio-wrapper"><input type="radio" name="{{this}}" value="{{this}}"> {{this}}</div>
        {{/each}}
      </div>
      {{/ifeq}}

      {{#ifeq this.type "Dropdown"}}
        <select id="{{idIfy this.question}}" class="question">
          <option value="Select">Select Below</option>
          {{#each this.options}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      {{/ifeq}}

    {{/each}}

    <button class="btn btn-primary" type="button" id="data-send">Submit</button>

    <img id="loading" style="display:none;" rsrc="http://res.cloudinary.com/esalling/image/upload/v1518293471/giphy_yyozmw.gif">
  </form>

</div>
